@import '../../../variables';
@import '../../../bootstrap.css';

header {
    background-color: $blue;
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-sans-serif;
    position: relative;
    width: 100vw;

    div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 10px 0px;

        img {
            margin-left: 20px;
            width: 100px;
        }

        h1, h2 {
            margin: 0px;
        }

        h1 {
            font-weight: 600;
            font-size: 3rem;
            color: $white;
        }

        h2 {
            font-weight: 400;
            font-size: 1.8rem;
            margin-top: 10px;
            margin-left: 20px;
        }
        
        a {
            color: $white;
            margin: 0px 20px;
        }

        .form-control {
            width: 230px;
        }
        
    }

    div:nth-child(2) {
        flex-grow: 1;
    }

    div:nth-child(3) {
        width: 300px;
    }

}
