<nav class="navbar">

    <ng-container *ngIf="auth.loggedIn">
        <ul class="nav justify-content-end">
            <a i18n="Link Label|Label for home routing@@LinkHomeLabel" routerLink="/" class="nav-link">Home</a>
            <a i18n="Link Label|Label for home routing@@LinkHomeLabel" routerLink="profile" class="nav-link">Profile</a>
            <a i18n="Link Label|Label for home routing@@LinkHomeLabel" routerLink="/" class="nav-link">Home</a>
        </ul>
    </ng-container>
    <button i18n="Button Label|Label for login button@@ButtonLogInLabel" (click)="auth.login()" *ngIf="!auth.loggedIn" class="btn btn-secondary btn-lg">Log In</button>
    <button i18n="Button Label|Label for logout button@@ButtonLogOutLabel" (click)="auth.logout()" *ngIf="auth.loggedIn" class="btn btn-secondary btn-lg">Log Out</button>

</nav>
