@import '../../../variables';

nav {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    width: 105%;
    position: relative;
    left: -3%;
    background-color: darken($blue, 10%);

    span {
        flex-grow: 1;
    }

    a {
        color: $white;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0px 10px;
        background-color: red;
    }
    
    button {
        justify-content: flex-end;
        margin-right: 50px;
    }
}