@import '../../../../styling/variables';

.author-details-header {
    font-family: $font-family-sans-serif;
    margin-top: 100px;
    position: relative;
    width: 80%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: darken($blue, 10%);
}


.author-details-container {
    font-family: $font-family-sans-serif;
    margin-top: 20px;
    position: relative;
    width: 80%;
    left: 10%;

    .card {    
        border: 2px solid $blue;

        img {
            border-right: 2px solid $blue;
        }

        ul {
            border: none;

            .list-group-item {
                border: none;
            }
        }

    }
}