<ng-container *ngIf="!auth.loggedIn">
    <div class="card-not-logged-in">
        <div class="card-middle">
            <div>
                <img src="../../../assets/logos/DVT_icon_inverted.png">
            </div>
            <div>
                <h1>DVT Books</h1>
                <h2>Please log in to continue</h2>
            </div>
            <div>
                <button (click)="auth.login()" *ngIf="!auth.loggedIn" class="btn-login-logout">Log In</button>
            </div>
        </div>
    </div>

</ng-container>